.footer {
  place-content: center;
  align-items: center;
  background-color: #000000;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 48px;
  height: min-content;
  overflow: visible;
  padding: 0px 40px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.footer_wrap {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
  flex: 0 0 auto;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
}

.footer_wrap p {
  font-family: "VT323", monospace;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
}
